
{% extends 'admin/SellerPanel.html' %}

{% load static %}

{% block title %}Seller Profile...{% endblock %}

{% block content %}

<div class="container mt-5" style="margin-bottom: 100px;">
    <h1>Your Brand Details</h1>
    <hr>
    <div class="row">
        {% for i in sdata %}
        <div class="col-lg-6 col-md-6 col-sm-12">
            <table class="table">
                <tr>
                  <td>Brand Name</td>
                  <td style="color: #4D4855;">{{i.bname}}</td>
                </tr>
                <tr>
                  <td>Shop Address</td>
                  <td style="color: #4D4855;">{{i.shopaddress}}</td>
                </tr>
                <tr>
                  <td>E-mail</td>
                  <td style="color: #4D4855;">{{i.email}}</td>
                </tr>
                <tr>
                  <td>Contact</td>
                  <td style="color: #4D4855;">{{i.contact}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td style="color: #4D4855;">{{i.branddesc}}</td>
                  </tr>
              </table>

              <a href="{% url 'Editsellerprofile' %}" class="btn btn-primary mt-3">Edit Profile  <i class="fa-solid fa-pen-to-square ms-1"></i></a>
        
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="mb-5 ms-5">
                {% if i.brandlogo %}
                <img src="{{i.brandlogo.url}}" alt="" style="width: 300px;height: 300px;border: 5px solid black;border-radius: 400px;">
                {% else %}
                <img src="{% static 'images/Default-Profile.webp' %}" alt="" style="width: 300px;height: 300px;border: 5px solid black;border-radius: 400px;">
                {% endif %}
                <h1 class="text-primary mt-3">{{i.bname}}</h1>
              </div>
              
            
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

